@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
  }

  .swiper {
    position: relative !important;
    padding-bottom: 30px !important;
  }

  .swiper-pagination {
    position: absolute !important;
    bottom: 0 !important;
  }

  /* Define the fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the fade-in animation to the element */
.animate-fade-in {
  animation: fade-in 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.product-tag {
  background: rgba(255,63,108,.8);
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  z-index: 1;
  padding: 0 4px;
  line-height: 16px;
}

.product-tag::after {
  content: '';
  position: absolute;
  border-color: rgba(255,63,108,.5) transparent rgba(255,63,108,.5) rgba(255,63,108,.8);
  border-style: solid;
  border-width: 8px;
  left: 100%;
  width: 0;
  height: 0;
  top: 0;
}

.add-cart:hover {
  background-color: #FF3E6C !important;
  opacity: 0.9;
}

.add-wishlist:hover {
  background-color: #fff !important;
}

.size-buttons-size-strike-show {
  position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d5d6d9;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.desktop-badge {
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  background: #ff3f6c;
  position: absolute;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -2px;
  font-weight: 700;
}

.itemcard-removeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  height: 24px;
  width: 24px;
  background-color: hsla(0,0%,100%,.6);
  border: 1.2px solid #d4d5d9;
  cursor: pointer;
  text-align: center;
}

.address-accordion {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 14px;
}

.address-accordion:hover {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.address-type {
  background-color: #F5F5F6;
  border-radius: 10px;
  text-transform: uppercase;
  width: 50px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding: 3px;
  color: #696e79;
}
